.labeledinput .label {
    width: 150px;
    font-size: 16px;
    color: #770;
    margin-left: 5px;
    font-weight: bold;
    font-style: italic;
}

.labeledinput .content .contentelement {
    width: 600px;
}

.article {
	height: 100px;
}

.logodiv {
	width: 150px;
	height: 150px;
	background-color: #ddd;
}

.welcome {
	padding: 10px;
	margin: 3px;
	background-color: #bbf;
	font-size: 20px;	
}

.welcome .title {
	color: #00f;
	font-weight: bold;
}

.container {
	padding: 10px;
	display: inline-block;
	background-color: #add;
	margin: 5px;
	margin-top: 1px;
}

.submit {
	font-size: 20px;
	background-color: #7f7;
	margin-left: 20px;
}

.description {
	height: 50px;
}

.draginstr {
    font-style: italic;
    color: #a0a;    
    font-family: monospace;
    margin-right: 10px;
}
